.hero-img {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(225deg,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.25)),
    url("./images/hero/stirfry-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 -40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 300px;

  text-align: center;
}

.hero-title {
  margin: 0;

  color: white;
  text-shadow: 0 0 28px black;

  font-family: 'Gill Sans', sans-serif;
  font-size: 52px;
}

.hero-cta {
  display: flex;
  gap: 6rem;
  padding: 5rem 0;
}

.hero-cta-link {
  display: block;
  color: white;

  padding: 1rem 2rem;
  background-color: coral;
  filter: brightness(0.85);

  font-family: 'Segoe UI', sans-serif;
  font-size: 23px;
  text-shadow: 0 0 1px white;
}

.hero-cta-link:hover {
  filter: brightness(1);
}