body {
  background-color: bisque;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: aqua;
  border-bottom: 5px solid red;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.nav-item {
  display: inline;
}

.nav-item.active {
  color: red;
}



/* .text {
  display: block;
  background-color: blue;
  color: white;

  margin: 5px;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: red;

  padding: 20px;
  border: 5px solid green;
  margin: 5px;
} */